In [1]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
print(df.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

In [2]:
dfe = pd.read_excel('pokemon_data.xlsx')
print(dfe.tail(5))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
795  719              Diancie     Rock  Fairy  50     100      150      100
796  719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
795      150     50           6       True
796      110    110           6       True
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [3]:
dft = pd.read_csv('pokemon_data.txt',delimiter="\t")
print(dft.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

## <center>Reading data with pandas

In [4]:
df.columns
print(df['Name'])
print("----------------------------------------------------")
#Reading multiple columns
print(df[['Name','Type 1','Sp. Atk']][1:6])
print("----------------------------------------------------")

# Reading multiple rows
print(df.iloc[0:5])
print("----------------------------------------------------")

# Reading element at (R,C)
print(df.iloc[31,1])
print("----------------------------------------------------")

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
----------------------------------------------------
                    Name Type 1  Sp. Atk
1                Ivysaur  Grass       80
2               Venusaur  Grass      100
3  VenusaurMega Venusaur  Grass      122
4             Charmander   Fire       60
5             Charmeleon   Fire       80
----------------------------------------------------
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
----------------------------------------------------
Raichu
----------------------------------------------------

In [5]:
# for index,column in df.iterrows():
#     print(index,column['Legendary'])
#     print("----------------------------------------------------")
df.loc[df["Type 1"]=="Rock"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
80,74,Geodude,Rock,Ground,40,80,100,30,30,20,1,False
81,75,Graveler,Rock,Ground,55,95,115,45,45,35,1,False
82,76,Golem,Rock,Ground,80,120,130,55,65,45,1,False
103,95,Onix,Rock,Ground,35,45,160,30,45,70,1,False
149,138,Omanyte,Rock,Water,35,40,100,90,55,35,1,False
150,139,Omastar,Rock,Water,70,60,125,115,70,55,1,False
151,140,Kabuto,Rock,Water,30,80,90,55,45,55,1,False
152,141,Kabutops,Rock,Water,60,115,105,65,70,80,1,False
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
200,185,Sudowoodo,Rock,NaN,70,100,115,30,65,30,2,False
265,246,Larvitar,Rock,Ground,50,64,50,45,50,41,2,False
266,247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False
267,248,Tyranitar,Rock,Dark,100,134,110,95,100,61,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
323,299,Nosepass,Rock,NaN,30,45,135,45,90,30,3,False
369,337,Lunatone,Rock,Psychic,70,55,65,95,85,70,3,False
370,338,Solrock,Rock,Psychic,70,95,85,55,65,70,3,False
377,345,Lileep,Rock,Grass,66,41,77,61,87,23,3,False
378,346,Cradily,Rock,Grass,86,81,97,81,107,43,3,False
379,347,Anorith,Rock,Bug,45,95,50,40,50,75,3,False
380,348,Armaldo,Rock,Bug,75,125,100,70,80,45,3,False
414,377,Regirock,Rock,NaN,80,100,200,50,100,50,3,True
453,408,Cranidos,Rock,NaN,67,125,40,30,30,58,4,False
454,409,Rampardos,Rock,NaN,97,165,60,65,50,58,4,False
455,410,Shieldon,Rock,Steel,30,42,118,42,88,30,4,False
456,411,Bastiodon,Rock,Steel,60,52,168,47,138,30,4,False
486,438,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False
528,476,Probopass,Rock,Steel,60,55,145,75,150,40,4,False
583,524,Roggenrola,Rock,NaN,55,75,85,25,25,15,5,False
584,525,Boldore,Rock,NaN,70,105,105,50,40,20,5,False
585,526,Gigalith,Rock,NaN,85,135,130,60,80,25,5,False
627,566,Archen,Rock,Flying,55,112,45,74,45,70,5,False
628,567,Archeops,Rock,Flying,75,140,65,112,65,110,5,False
700,639,Terrakion,Rock,Fighting,91,129,90,72,90,108,5,True
758,688,Binacle,Rock,Water,42,52,67,39,56,50,6,False
759,689,Barbaracle,Rock,Water,72,105,115,54,86,68,6,False
766,696,Tyrunt,Rock,Dragon,58,89,77,45,45,48,6,False
767,697,Tyrantrum,Rock,Dragon,82,121,119,69,59,71,6,False
768,698,Amaura,Rock,Ice,77,59,50,67,63,46,6,False
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [6]:
df.loc[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False

# <center>Sorting and Describing Data

In [7]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [8]:
df.sort_values(['HP'],ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [9]:
df.sort_values(['Attack','HP'],ascending = [0,1])[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True

# <center> Making Changes to Data

In [10]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [11]:
df['Total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.sort_values(['Total'],ascending = 0)[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770

In [12]:
df = df.drop(columns=['Total'])
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [13]:
df['Total']=df.iloc[:,4:10].sum(axis=1)
df.sort_values(['Total'],ascending=0).head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770

In [14]:
cols=list(df.columns.values)
df= df[cols[0:4]+[cols[-1]]+cols[4:12]]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# <center> Saving Data

In [15]:
df.to_csv("modified.csv",index=False)

In [16]:
# df.to_excel("modified.xlsx",sheet_name="Pokedex",index=False)

In [17]:
df.to_csv("modified.txt",index = False ,sep ="\t")

# <center> Filtering Data

In [18]:
# new_df = df.loc[(((df["Type 1"]== "Rock") & (df["Type 2"]=="Steel"))|((df["Type 1"]== "Grass")& (df["Type 2"]=="Poison")))&(df["HP"]>=55)]
import re
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

# <center> Conditional Changes

In [19]:
df.loc[df["Total"]>500,["Generation","Legendary"]]=["XXXXXX","HellYes!"]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,XXXXXX,HellYes!
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,XXXXXX,HellYes!
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,XXXXXX,HellYes!
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,XXXXXX,HellYes!
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,XXXXXX,HellYes!
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,XXXXXX,HellYes!
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,XXXXXX,HellYes!

# <underline><center> Aggregate Statistics(groupby)

In [20]:
df=pd.read_csv("modified.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [38]:
# df.groupby(["Type 1"]).mean().sort_values("Sp. Atk",ascending= False)
# df.groupby(["Type 2"]).sum()
df['Count']=1
df.groupby(["Type 1","Type 2"]).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

# Working with large data

In [3]:
import pandas as pd
dnew=pd.read_excel('pokemon_data.xlsx')
dnew

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
# new_df =pd.Dataframe(columns=df.columns)
# for df in pd.read_csv("modified.csv",chunksize=5):
#       results = df.groupby(["Type 1"].count()
dnew.loc[dnew['Name']=="Bulbasaur",['Attack']=["50"]]
dnew

SyntaxError: invalid syntax (<ipython-input-10-aa2ed75e0cd1>, line 4)